nvchad/*
git/*
.git/*
.lazy-lock.json
# .gitignore
config.json
.env
.DS_Store
lazy-lock.json
.zsh_history
.zprofile
.zcompdump
.zsh
.zsh_sessions/
configs/.config/raycast/extensions/*
configs/.config/nvim/.mypy_cache
configs/.config/raycast/extensions
configs/.config/nvim/lazy-lock.json
configs/.config/github-copilot/apps.json
configs/.config/github-copilot/versions.json
configs/.config/raycast
configs/.config/raycast
configs/.config/nvim/.DS_Store
configs/.config/nvim/lazy-lock.json
configs/.config/.DS_Store
configs/.DS_Store
tmux
.DS_Store
configs/.config/nvim/lua/.DS_Store
configs/.config/yazi/flavors/catppuccin-mocha.yazi
configs/.config/yazi/flavors/dracula.yazi
configs/.config/LazyVim
configs/.config/LazyVim
configs/.config/LazyVim
configs/.config/astro
configs/.config/nvchad
