nvchad/*
git/*
.git/*
.lazy-lock.json
# .gitignore
config.json
.env
.DS_Store
lazy-lock.json
.zsh_history
.zprofile
.zcompdump
.zsh
.zsh_sessions/
configs/.config/raycast/extensions/*
configs/.config/nvim/.mypy_cache
configs/.config/raycast/extensions
configs/.config/nvim/lazy-lock.json
configs/.config/github-copilot/apps.json
configs/.config/github-copilot/versions.json
